{% extends "base.html" %}
{% load static %}
{% block metadata %}
<meta name="description" content="Articles by Ben Tarnoff, in Lapham's Quarterly, The New York Times, Politico, and elsewhere.">
<link rel="canonical" href="http://www.bentarnoff.com/articles/" />
<title>ben tarnoff: articles</title>
{% endblock %}
{% block content %}
<div class="content-wrapper">
<div class="content-inner">
<div class="container-fluid">
<div class="row">
<div class="col-xs-12" id="content">
<h1>articles</h1>
<p>
<h2>tech / politics</h2>
<ul>
	<li><a href="https://www.theguardian.com/world/2017/aug/23/silicon-valley-big-data-extraction-amazon-whole-foods-facebook">Silicon Valley siphons our data like oil. But the deepest drilling has just begun</a>, <em>The Guardian</em>, August 23, 2017.</li>
	
	<li><a href="https://www.theguardian.com/media/2017/jul/12/social-media-socialism-jeremy-corbyn-bernie-sanders">How social media saved socialism</a>, <em>The Guardian</em>, July 21, 2017.</li>
	
	<li><a href="https://www.theguardian.com/technology/2017/jun/21/privatizing-public-services-trump-democracy">How privatization could spell the end of democracy</a>, <em>The Guardian</em>, June 21, 2017.</li>

	<li><a href="https://www.wsj.com/articles/the-dark-webs-dark-prince-1497307220">The Dark Web's Dark Prince</a>, a review of <em>American Kingpin: The Epic Hunt for the Criminal Mastermind Behind the Silk Road</em> by Nick Bilton, <em>The Wall Street Journal</em>, June 12, 2017.</li>

	<li><a href="https://www.theguardian.com/technology/2017/may/11/tech-innovation-silicon-valley-juicero">America has become so anti-innovation – it's economic suicide</a>, <em>The Guardian</em>, May 11, 2017.</li>

	<li><a href="https://www.jacobinmag.com/2017/05/tech-workers-silicon-valley-trump-resistance-startups-unions">Trump's Tech Opposition</a>, with Matt Schaefer and Kristen Sheets, <em>Jacobin</em>, May 2, 2017.</li>

	<li><a href="https://www.theguardian.com/technology/2017/apr/24/new-status-symbol-hard-work-spending-ceos">The new status symbol: it’s not what you spend – it’s how hard you work</a>, <em>The Guardian</em>, April 24, 2017.</li>

	<li><a href="https://www.jacobinmag.com/2017/04/internet-privacy-data-collection-trump-isps-fcc/">Socialize the Internet</a>, <em>Jacobin</em>, April 4, 2017.</li>

	<li><a href="https://www.theguardian.com/technology/2017/mar/02/robot-tax-job-elimination-livable-wage">Robots won't just take our jobs – they'll make the rich even richer</a>, <em>The Guardian</em>, March 2, 2017.</li>

	<li><a href="https://www.theguardian.com/technology/2017/jan/24/silicon-valley-fights-donald-trump-peter-thiel-palantir">Trump needs tech to achieve his vision. But Silicon Valley isn't having it</a>, <em>The Guardian</em>, January 24, 2017.</li>

	<li><a href="https://www.theguardian.com/books/2016/dec/26/the-attention-merchants-tim-wu-review">The Attention Merchants review – how the web is being debased for profit</a>, <em>The Guardian</em>, December 26, 2016.</li>

	<li><a href="https://www.theguardian.com/us-news/2016/dec/13/donald-trump-silicon-valley-leaders-neoliberalism-administration">Neoliberalism turned our world into a business. And there are two big winners</a>, <em>The Guardian</em>, December 13, 2016.</li>

	<li><a href="https://www.theguardian.com/books/2016/nov/24/four-futures-life-after-capitalism-peter-frase-review-robots">Four Futures: Life After Capitalism review – will robots bring utopia or terror?</a>, <em>The Guardian</em>, November 24, 2016.</li>

	<li><a href="https://www.theguardian.com/us-news/2016/nov/09/us-election-political-movement-trumpism">The triumph of Trumpism: the new politics that is here to stay</a>, <em>The Guardian</em>, November 9, 2016.</li>

	<li><a href="https://www.theguardian.com/technology/2016/oct/17/sharing-economy-capitalism-uber-airbnb-ownership">The future: where borrowing is the norm and ownership is luxury</a>, <em>The Guardian</em>, October 17, 2016.</li>

	<li><a href="https://www.theguardian.com/technology/2016/sep/15/silicon-valley-tech-industry-elitism-mark-zuckerberg">Gaffes, ignorance and PR nightmares: why it's so easy to hate the tech industry</a>, <em>The Guardian</em>, September 15, 2016.</li>

	<li><a href="https://www.jacobinmag.com/2016/08/internet-public-dns-privatization-icann-netflix/">The Internet Should Be a Public Good</a>, <em>Jacobin</em>, August 31, 2016.</li>

	<li><a href="https://www.theguardian.com/technology/2016/jul/21/peter-thiel-republican-convention-speech">Donald Trump, Peter Thiel and the death of democracy</a>, <em>The Guardian</em>, July 21, 2016.</li>

	<li><a href="https://www.theguardian.com/technology/2016/jul/15/how-the-internet-was-invented-1976-arpa-kahn-cerf">How the Internet was invented</a>, <em>The Guardian</em>, July 15, 2016.</li>

	<li><a href="https://www.theguardian.com/technology/2016/may/16/universal-basic-income-equality-tech-silicon-valley">Tech billionaires got rich off us. Now they want to feed us the crumbs</a>, <em>The Guardian</em>, May 16, 2016.</li>

	<li><a href="http://www.theguardian.com/us-news/2016/apr/18/bernie-sanders-techies-support-socialism-capitalism">Techies for Bernie: why some best-paid workers are supporting a socialist</a>, <em>The Guardian</em>, April 18, 2016.</li>
</ul>
<h2>history</h2>
<ul>

	<li><a href="http://www.thedailybeast.com/articles/2014/04/19/mark-twain-writing-coach-and-role-model.html">Mark Twain, Writing Coach and Role Model</a>, <em>The Daily Beast</em>, April 19, 2014.</li>

	<li><a href="http://www.politico.com/magazine/story/2014/04/cancelcolbert-meet-the-heathen-chinee-105495.html#.U101ROZdVbx">#CancelColbert, Meet &quot;The Heathen Chinee&quot;</a>, <em>Politico</em>, April 8, 2014.</li>

	<li><a href="http://www.salon.com/2014/03/22/how_mark_twain_became_mark_twain_the_amazing_story_of_the_lectures_that_made_him_a_superstar/">How Mark Twain Became Mark Twain</a>, <em>Salon</em>, March 22, 2014.</li>

	<li><a href="http://www.laphamsquarterly.org/roundtable/me-i-sell-abuse">&quot;As for Me, I Sell Abuse&quot;</a>, <em>Lapham&#39;s Quarterly</em>, Feb. 15, 2014.</li>

	<li><a href="http://www.laphamsquarterly.org/comedy/once-upon-time-west">Once Upon a Time in the West</a>, <em>Lapham&#39;s Quarterly</em>, Jan. 1, 2014.</li>

	<li><a href="http://www.newyorker.com/online/blogs/books/2013/11/the-eternal-chatter-of-the-autobiography-of-mark-twain-volume-2.html">Mark Twain&#39;s Eternal Chatter</a>, <em>The New Yorker</em>, Nov. 13, 2013.</li>

	<li><a href="http://opinionator.blogs.nytimes.com/2012/03/27/a-counterfeiting-conspiracy/">A Counterfeiting Conspiracy?</a>, <em>The New York Times</em>, March 27, 2012.</li>

	<li><a href="http://www.laphamsquarterly.org/roundtable/worst-business-world">The Worst Business in the World</a>, <em>Lapham&#39;s Quarterly</em>, Oct. 20, 2011.</li>

	<li><a href="http://www.laphamsquarterly.org/future/magical-thinking">Magical Thinking</a>, <em>Lapham&#39;s Quarterly</em>, Oct. 1, 2011.</li>

	<li><a href="http://opinionator.blogs.nytimes.com/2011/07/16/the-man-who-financed-the-civil-war">The Man Who Financed the Civil War</a>, <em>The New York Times</em>, July 16, 2011.</li>

	<li><a href="http://opinionator.blogs.nytimes.com/2011/03/14/money-for-nothing/">Money for Nothing</a>, <em>The New York Times</em>, March 14, 2011.</li>

</ul>



</div>
</div>
</div>
</div>
</div>
</body>
{% endblock %}
