{% extends "base.html" %}
{% load static %}
{% block metadata %}
<meta name="description" content="Ben Tarnoff's most recent book is The Bohemians: Mark Twain and the San Francisco Writers Who Reinvented American Literature.">
<link rel="canonical" href="http://www.bentarnoff.com/books/" />
<title>ben tarnoff: books</title>
{% endblock %}
{% block content %}
<div class="content-wrapper">
<div class="content-inner">
<div class="container-fluid">
<div class="row">
<div class="col-xs-12" id="content">
<h3>The Bohemians: Mark Twain and the San Francisco Writers Who Reinvented American Literature</h3>
<p><img src="{% static "images/bohemianscover.jpg" %}" class="bookimg">
<img src="{% static "images/bohemianspaper.jpg" %}" class="bookimg"></p>
<p><blockquote><em>The Bohemians</em> begins in 1860s San Francisco. The Gold Rush has ended; the Civil War threatens to tear apart the country. Far from the frontlines, the city at the Western edge roars. The bards of the moment are the Bohemians: A young Mark Twain, fleeing the draft and seeking adventure; literary golden boy Bret Harte; struggling gay poet Charles Warren Stoddard; and Ina Coolbirth, poet and protectorate of the group. The Bohemians reveals how these four writers brought a fresh spirit to American literature, drawn from the new world being formed in the West.</blockquote></p>
<p><em>Published by Penguin in hardcover (2014), paperback (2015), and ebook.</p></em>
<ul>
<li><a href="http://www.amazon.com/The-Bohemians-Francisco-Reinvented-Literature/dp/159420473X/ref=sr_1_1?ie=UTF8&qid=1373426908&sr=8-1&keywords=ben+tarnoff+the+bohemians">Buy it on Amazon</a></li>
<li><a href="http://www.indiebound.org/book/9781594204739">Buy it on IndieBound</a></li>
<li><a href="#reviews">Read reviews</a></li>
<li><a href="https://vimeo.com/68066123">Watch the trailer</a></li>
</ul>
<p><b><i>The New Yorker</b></i>:</p>
<p>“Tarnoff's book sings with the humor and expansiveness of his subjects' prose, capturing the intoxicating atmosphere of possibility that defined, for a time, America's frontier."</p>
<p><b><i>San Francisco Chronicle</i></b>:</p>
<p>“Tarnoff breathes fresh life into his narrative with vivid details from the archives… giving us a rich portrait of a lost world overflowing with new wealth and new talent... [A] stylish and fast-paced literary history.”</p>
<p><b><i>The Oregonian</i></b>:</p>
<p>"Deftly written, wholly absorbing."</p>
<p><b><i>Chicago Tribune</i></b>:</p>
<p>"Engrossing... By skillfully tracking the friendships and fortunes of this unusual quartet, Tarnoff narrates the awakening of a powerful new sensibility in American literature... Tarnoff powerfully evokes the western landscapes, local cultures and youthful friendships that helped shape Twain. He has a talent for selecting details that animate the past."</p>
<p><b><i>Wall Street Journal</i></b>:</p>
<p>"Rich hauls of historical research, deeply excavated but lightly borne... Mr. Tarnoff's ultimate thesis is a strong one, strongly expressed: that together these writers 'helped pry American literature away from its provincial origins in New England and push it into a broader current.'"</p>
<p><b><i>Boston Globe</b></i>:</p>
<p>"Delightful... Adeptly wrapping a wonderful story around these young writers, Tarnoff glides smoothly along, never dwelling too long and never claiming too much. He stacks fifty pages of endnotes at the back of the book but such archival sweat doesn’t show in the prose."</p>
<p><b><i>Washington Post</b></i>:</p>
<p>"Tarnoff is a good storyteller and character-portraitist, with a deep knowledge of the West Coast."</p>
<a name="reviews"></a>
<b>Reviews</b>
<p><ul>
<li><a title="Boston Globe" href="http://www.bostonglobe.com/arts/books/2014/03/29/review-the-bohemians-mark-twain-and-san-francisco-writers-who-reinvented-american-literature-ben-tarnoff/rLKRdi7CPuKuv9CytWw05M/story.html" target="_blank">The Boston Globe</a>,
March 29, 2014.</li>
<li><a title="WSJ" href="http://online.wsj.com/news/articles/SB10001424052702304256404579453441188055828" target="_blank">The Wall Street Journal</a>,
March 28, 2014.</li>
<li><a title="San Francisco Chronicle" href="http://www.sfgate.com/books/article/The-Bohemians-by-Ben-Tarnoff-5319029.php" target="_blank">The San Francisco Chronicle</a>,
March 14, 2014.</li>
<li><a title="NY1" href="http://www.ny1.com/content/lifestyles/the_book_reader/207046/the-book-reader---the-bohemians--mark-twain-and-the-san-francisco-writers-who-reinvented-american-literature-" target="_blank">NY1</a>,
April 16, 2014.</li>
<li><a title="Chicago Tribune" href="http://articles.chicagotribune.com/2014-03-21/news/chi-bohemians-mark-twain-san-francisco-ben-tarnoff-20140321_1_mark-twain-printers-row-journal-territorial-enterprise" target="_blank">The Chicago Tribune</a>,
March 21, 2014.</li>
<li><a title="Washington Post" href="http://www.washingtonpost.com/opinions/the-bohemians-mark-twain-and-the-writers-who-reinvented-us-literature-ben-tarnoff/2014/04/25/e6cc6b2a-88e9-11e3-a5bd-844629433ba3_story.html" target="_blank">The Washington Post</a>,
April 25, 2014.</li>
<li><a title="New Yorker" href="http://www.newyorker.com/online/blogs/books/2014/04/how-america-learned-to-hear-itself-talk.html" target="_blank">The New Yorker Page-Turner Blog</a>,
April 3, 2014.</li>
<li><a title="Oregonian" href="http://www.oregonlive.com/books/index.ssf/2014/03/mark_twains_deft_touch_and_dar.html" target="_blank">The Oregonian</a>,
March 26, 2014.</li>
<li><a title="Kansas City Star" href="http://www.kansascity.com/2014/03/21/4901050/mark-twain-the-american-original.html" target="_blank">The Kansas City Star</a>,
March 22, 2014.</li>
<li><a title="Minneapolis Star Tribune" href="http://www.startribune.com/entertainment/books/251306951.html" target="_blank">Minneapolis Star Tribune</a>,
March 21, 2014.</li>
<li><a title="Daily Beast" href="http://www.thedailybeast.com/articles/2014/03/20/how-mark-twain-became-mark-twain-by-going-to-california.html" target="_blank">The Daily Beast</a>,
March 20, 2014.</li>
<li><a title="Kirkus" href="https://www.kirkusreviews.com/book-reviews/ben-tarnoff/the-bohemians/" target="_blank">Kirkus Reviews</a>,
January 15, 2014.</li>
	<li><a title="Publisher's Weekly" href="http://www.publishersweekly.com/978-1-59420-473-9" target="_blank">Publisher's Weekly</a>,
January 13, 2014.</li>
</ul>
</div>
</div>
<div class="row">
<div class="col-xs-12" id="content">
<h3>A Counterfeiter’s Paradise: The Wicked Lives and Surprising Adventures of Three Early American Moneymakers</h3>
<p><img src="{% static "images/moneymakers.jpg" %}" class="bookimg">
<img src="{% static "images/counterfeiters.jpg" %}" class="bookimg"></p>
<p>Published by Penguin in hardcover (2011), paperback (2012), and ebook.
<ul><li><a href="http://www.amazon.com/Counterfeiters-Paradise-Surprising-Adventures-Moneymakers/dp/0143120778/ref=sr_1_1?ie=UTF8&qid=1326645158&sr=8-1">Buy it on Amazon</a></li>
	<li><a href="http://www.indiebound.org/book/9780143120773">Buy it on IndieBound</a></li>
	<li><A href="#reviews2">Read reviews</a></li>
</ul>
<p><blockquote>In <em>A Counterfeiter’s Paradise</em>, Ben Tarnoff chronicles the lives of three colorful counterfeiters who flourished in early America, shedding fresh light on the country’s financial coming of age. The speculative ethos that pervades Wall Street today, Tarnoff suggests, has its origins in the craft of counterfeiters who first took advantage of a turbulent American economy.</blockquote></p>

<p>“What an ingenious idea for a book and what a rousing story! A truly gifted writer, Ben Tarnoff has brought to life three unforgettable characters while at the same time providing a window onto the tumultuous financial situation that characterized early American life.”<br/>
—<b>Doris Kearns Goodwin</b>, author of <em>Team of Rivals</em></p>

<p>“Lively and insightful, [A Counterfeiter’s Paradise] makes the most out of the entertaining tale of three master counterfeiters, using their careers to open an unexpected window on the making of the American economic imagination.”<br/>
—<b>T.J. Stiles</b>, author of <em>The First Tycoon: The Epic Life of Cornelius Vanderbilt</em></p>

<p>“Ben Tarnoff’s tales of financial skullduggery in early America are fascinating. [A Counterfeiter’s Paradise] is history as it should be written, brimming with the sort of vivid details that makes the past come alive.”
<br/>—<b>Liaquat Ahamed</b>, author of <em>Lords of Finance: The Bankers Who Broke The World</em></p>

<p>“Ben Tarnoff captures the wild early years of America’s financial system through a delightful angle: the escapades of three counterfeiters. It’s a colorful tale but also an enlightening one. It helps us understand our financial culture back then-and even today.”
<br/>—<b>Walter Isaacson</b>, author of <em>Benjamin Franklin: An American Life</em></p>

<p>“I’ve always had a soft spot in my heart for counterfeiters, ever since my father, a Secret Service agent, told me stories about how hard it was to catch them. Tarnoff tells the story of three colorful and almost lovable practitioners of the trade, in prose that is always accessible and sometimes downright lyrical. Along the way he drove me to the conclusion that all paper money is sorta fake. Tarnoff himself strikes me as the genuine article. I welcome his voice to that tiny chorus of writers who can make American history come alive without dumbing it down.”<br/>
—<b>Joseph J. Ellis</b>, author of <em>Founding Brothers</em></p>
<b>Reviews<a name="reviews2"></a></b>
<p><ul>
	<li><a title="The New York Review of Books" href="http://www.nybooks.com/articles/archives/2011/nov/10/american-dream-money/" target="_blank">The New York Review of Books</a>,
November 10, 2011.</li>
	<li><a title="The New York Times" href="http://www.nytimes.com/2011/02/06/business/06shelf.html?_r=3&amp;ref=business" target="_blank">The New York Times</a>,
February 6, 2011.</li>
	<li><a title="The New York Times Book Review" href="http://www.nytimes.com/2011/01/30/books/review/Washburn-t.html" target="_blank">The New York Times Book Review</a>,
January 28, 2011.</li>
	<li><a title="The Wall Street Journal" href="http://online.wsj.com/article/SB10001424052748704721104576106742749041066.html" target="_blank">The Wall Street Journal</a>,
January 28, 2011.</li>
	<li><a title="The Washington Post" href="http://www.washingtonpost.com/wp-dyn/content/article/2011/02/10/AR2011021006632.html?wprss=rss_print/bookworld" target="_blank">The Washington Post</a>,
February 11, 2011.</li>
	<li><a title="NPR Online" href="http://www.npr.org/2011/07/14/133593875/sneaky-moneymakers-saw-counterfeiting-as-craft" target="_blank">NPR Online</a>,
February 9, 2011.</li>
	<li><a title="ABC News" href="http://abcnews.go.com/Entertainment/wireStory?id=12854950" target="_blank">ABC News (via Associated Press)</a>,
February 7, 2011.</li>
	<li><a title="The San Francisco Chronicle" href="http://articles.sfgate.com/2011-02-27/books/28632646_1_counterfeit-bills-folk-hero-citizen-posse" target="_blank">The San Francisco Chronicle</a>,
February 27, 2011.</li>
	<li><a title="The New York Post" href="http://www.nypost.com/p/news/opinion/books/required_reading_PnFBpaEYfG6dGQ6qoKDBgL" target="_blank">The New York Post</a>,
February 26, 2011.</li>
	<li><a title="Finance and Development" href="http://www.imf.org/external/pubs/ft/fandd/2011/03/pdf/books.pdf">Finance &amp; Development</a>,
March 2011.</li>
	<li><a title="Washington Monthly" href="http://www.washingtonmonthly.com/features/2011/1101.malanowski.html" target="_blank">Washington Monthly</a>,
January/February 2011</li>
</ul>
</p>
</div>
</div>
</div>
</div>
</div>
</body>
{% endblock %}